@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 91, 64;
  --background-end-rgb: 8, 51, 36;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .transition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
